.navBox{
	padding: 10px;
	background: transparent;
	border: 1px solid var(--principal);
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 2.8rem;
}
.navBox:hover{
	background-color: var(--principal-dark);
	border: 1px solid var(--text);
}
.navBox:hover .navBoxIcon{
	color: var(--text);
}
.navBoxIcon{
	color: var(--principal);
	font-size: 12pt;
	margin-right: 10px;
}
.navBoxTitle{
	font-size: 12pt;
	color: var(--text);
	font-weight: 700;
	margin-right: 10px;
}
.navBoxLabel{
	font-size: 12pt;
	color: var(--text);
}