
.headerContainer{
	width: 100vw;
	background-color: var(--header);
	padding: 20px;
	padding-bottom: 40px;
	padding-top: 10px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-right: 50px;
	z-index: -10;
}
